<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="card card-wizard" id="wizardCard">
          <form [formGroup]="type" id="wizardForm">

            <div class="header text-center">
              <h3 class="title">Seguimiento Y Monitoreo de Desarrollo Infantil Temprano</h3>
              <p class="category">Eje de Salud Red Solidaria</p>
            </div>

            <div class="content">
              <ul class="nav">
                <li><a href="#tab1" data-toggle="tab">01</a></li>
                <li><a href="#tab2" data-toggle="tab">02</a></li>
                <li><a href="#tab3" data-toggle="tab">03</a></li>
                <li><a href="#tab4" data-toggle="tab">04</a></li>
                <li><a href="#tab5" data-toggle="tab">05</a></li>
                <li><a href="#tab6" data-toggle="tab">06</a></li>
                <li><a href="#tab7" data-toggle="tab">07</a></li>
                <li><a href="#tab8" data-toggle="tab">08</a></li>
                <li><a href="#tab9" data-toggle="tab">09</a></li>
                <li><a href="#tab10" data-toggle="tab">10</a></li>
                <li><a href="#tab11" data-toggle="tab">11</a></li>
                <li><a href="#tab12" data-toggle="tab">12</a></li>
                <li><a href="#tab13" data-toggle="tab">13</a></li>
                <li><a href="#tab14" data-toggle="tab">14</a></li>
                <li><a href="#tab15" data-toggle="tab">15</a></li>
                <li><a href="#tab16" data-toggle="tab">16</a></li>
                <li><a href="#tab17" data-toggle="tab">17</a></li>
                <li><a href="#tab18" data-toggle="tab">18</a></li>
              </ul>

              <div class="tab-content">
                <!-- Tab 1 -->
                <div class="tab-pane" id="tab1">
                  <h5 class="text-center">Porfavor Ingresa los Datos.</h5>
                  <div class="row">
                    <!--FORMULARIO 1-->
                    <div>
                      <div class="col-md-5 col-md-offset-1">
                        <div class="form-group">
                          <label class="control-label">Departamento</label>
                          <select (change)="getMunicipalitiesByDeparment($event)" class="form-control"
                            name="departmentId" formControlName="departmentId" >
                            <option value="">-Seleccione un departamento-</option>
                            <option *ngFor="let item of departments" [value]="item.id">{{ item.nameD }}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-md-5">
                        <div class="form-group">
                          <label class="control-label">Municipio</label>
                          <select (change)="getCommunities($event)" class="form-control" name="municipalityId" formControlName="municipalityId">
                            <option value="">- Municipio -</option>
                            <option *ngFor="let item of municipalities" [value]="item.id">{{ item.nameM }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Aldea</label>
                        <select formControlName="communityId" name="communityId" class="form-control">
                          <option value="">- Seleccione una aldea -</option>
                            <option *ngFor="let item of communities" [value]="item.id">{{ item.nameC }}</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">Numero Familia Priorizada</label>
                        <input formControlName="famPriorizadas" class="form-control" minlength="0" type="number"
                          name="famPriorizadas" placeholder="Numero Familia Priorizada" />
                      </div>
                    </div>
                    <div class="row">
                    </div>
                    <div>
                    </div>
                  </div>
                </div>

                <!-- Tab 2 -->
                <div class="tab-pane" id="tab2">
                  <h5 class="text-center">Numeros de Familias Priorizadas.</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Programada</label>
                        <input class="form-control" type="number" name="programadas" formControlName="programadas"
                          placeholder="Ingrese Numero de Programada" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">Ejecutadas</label>
                        <input class="form-control" type="number" name="ejecutadas" formControlName="ejecutadas"
                          placeholder="Ingrese numero de Ejecutadas" />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tab 3 -->
                <div class="tab-pane" id="tab3">
                  <h5 class="text-center">Cuidador Primario.</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Madre</label>
                        <input class="form-control" type="number" name="madre"  formControlName="madre" placeholder="Ingrese numero de Madre" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">Padre</label>
                        <input class="form-control" type="number" name="padre" formControlName="padre" placeholder="Ingrese numero de Padre" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Abuela</label>
                        <input class="form-control" type="number" name="abuela" formControlName="abuela" placeholder="Ingrese numero de Abuela" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">Total</label>
                        <input class="form-control" type="number" name="total" formControlName="total" placeholder="Ingrese Valor Total" />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tab 4 -->
                <div class="tab-pane" id="tab4">
                  <h5 class="text-center">Embarazada Captada En.</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Primeras 12 Semanas de Embarazo</label>
                        <input class="form-control" type="number" name="antes" formControlName="antes" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">Después de las 12 Semanas de
                          Embarazo</label>
                        <input class="form-control" type="number" name="despues" formControlName="despues" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tab 5 -->
                <div class="tab-pane" id="tab5">
                  <h5 class="text-center">Parto Atendido En.</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Hospital</label>
                        <input class="form-control" type="number" name="hospital" formControlName="hospital"
                          placeholder="Ingrese Cantidad de Hospital" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">Comunidad</label>
                        <input class="form-control" type="number" name="comunidad" formControlName="comunidad"
                          placeholder="Ingrese cantidad de Comunidad" />
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Su Primera Consulta en los Primeros 7 Días
                          Después Del Parto</label>
                        <input class="form-control" type="number" name="consulta" formControlName="consulta"
                          placeholder="Ingrese Cantidad de Parto" />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Tab 6 -->
                <div class="tab-pane" id="tab6">
                  <h5 class="text-center">Niños y Niñas menores de 6 meses de edad que recibe
                    lactancia exclusiva.</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Si</label>
                        <input class="form-control" type="number" name="conLactancia" formControlName="conLactancia" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">No</label>
                        <input class="form-control" type="number" name="sinLactancia" formControlName="sinLactancia" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Tab 7 -->
                <div class="tab-pane" id="tab7">
                  <h5 class="text-center">Informacion del Niño o la Niña</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <h5 class="text-center">Edad</h5>
                        <label class="control-label">0 a 24 meses</label>
                        <input class="form-control" type="number" name="rango1" formControlName="rango1" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">25 a 36</label>
                        <input class="form-control" type="number" name="rango2" formControlName="rango2" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">37 a 72</label>
                        <input class="form-control" type="number" name="rango3" formControlName="rango3" placeholder="Ingrese Valor" />
                      </div>

                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <h5 class="text-center">Sexo</h5>
                        <label class="control-label">Femenino</label>
                        <input class="form-control" type="number" name="femenino" formControlName="femenino" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Masculino</label>
                        <input class="form-control" type="number" name="masculino" formControlName="masculino" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Tab 8 -->
                <div class="tab-pane" id="tab8">
                  <h5 class="text-center">Niña o Niño Incristo el RNP En el primer año de Vida.</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Si</label>
                        <input class="form-control" type="number" name="inscritos" formControlName="inscritos"  placeholder="Ingrese Valor" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">No</label>
                        <input class="form-control" type="number" name="noInscritos" formControlName="noInscritos" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Tab 9 -->
                <div class="tab-pane" id="tab9">
                  <h5 class="text-center">Esquema completo de Vacunacion.</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Hepatitis "B"</label>
                        <input class="form-control" type="number" name="hepatitis" formControlName="hepatitis" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">TERCERA DOSIS PENTAVALENTE</label>
                        <input class="form-control" type="number" name="pentavalente" formControlName="pentavalente" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">SRP DE 12 23 MESES</label>
                        <input class="form-control" type="number" name="srp" formControlName="srp" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">BCG</label>
                        <input class="form-control" type="number" name="bcg" formControlName="bcg" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">SEGUNDA DOSIS DE ROTAVIRUS</label>
                        <input class="form-control" type="number" name="rotavirus" formControlName="rotavirus" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">TERCERA DOSIS DE NEUMOCOCO</label>
                        <input class="form-control" type="number" name="nuemococo" formControlName="nuemococo" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Tab 10 -->
                <div class="tab-pane" id="tab10">
                  <h5 class="text-center">Grupo Etnico a que Pertenece.</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Lenca</label>
                        <input class="form-control" type="number" name="lencas" formControlName="lencas" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Chortis</label>
                        <input class="form-control" type="number" name="Chortis" formControlName="chortis" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Tawaska</label>
                        <input class="form-control" type="number" name="tawaka" formControlName="tawaka" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Otros</label>
                        <input class="form-control" type="number" name="otros" formControlName="otros" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">Tolupan</label>
                        <input class="form-control" type="number" name="tolupan" formControlName="tolupan" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Mestizo</label>
                        <input class="form-control" type="number" name="mestizo" formControlName="mestizo" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Garifuna</label>
                        <input class="form-control" type="number" name="garifuna" formControlName="garifuna" placeholder="Ingrese Valor" />
                      </div>

                    </div>
                  </div>
                </div>
                <!-- Tab 11 -->
                <div class="tab-pane" id="tab11">
                  <h5 class="text-center">Numero de niños evaluados con cinta MAUC (6 meses a 5 años).
                  </h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">NORMAL Mayor de 12.5 cm</label>
                        <input class="form-control" type="number" name="normal" formControlName="normal" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">DA MODERADA (Entre 12.5 a 11.5 cm )
                          "DAM"</label>
                        <input class="form-control" type="number" name="moderada" formControlName="moderada" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">DA SEVERO (Menor de 11.5 cm o mayor de 11.5
                          con edema) "DAS"</label>
                        <input class="form-control" type="number" name="severo" formControlName="severo" placeholder="Ingrese Valor" />
                      </div>
                    </div>

                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">Otros</label>
                        <input class="form-control" type="number" name="otro" formControlName="otro" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tab 12 -->
                <div class="tab-pane" id="tab12">
                  <h5 class="text-center">Número de Niños con desnutrición que reciben Tratamiento con
                    RUFT.</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Si</label>
                        <input class="form-control" type="number" name="desnutridos" formControlName="desnutridos"  placeholder="Ingrese Valor" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">No</label>
                        <input class="form-control" type="number" name="noDesnutridos" formControlName="noDesnutridos"  placeholder="Ingrese Valor" />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tab 13 -->
                <div class="tab-pane" id="tab13">
                  <h5 class="text-center">Capacitacion Uso de la Guia.</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Si</label>
                        <input class="form-control" type="number" name="usoGuia" formControlName="usoGuia" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">No</label>
                        <input class="form-control" type="number" name="nousoGuia" formControlName="nousoGuia" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tab 14 -->
                <div class="tab-pane" id="tab14">
                  <h5 class="text-center">Numero de Intervenciones.</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Si</label>
                        <input class="form-control" type="number" name="intervino" formControlName="intervino" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">No</label>
                        <input class="form-control" type="number" name="noIntervino" formControlName="noIntervino" placeholder="Ingrese Valor"/>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tab 15 -->
                <div class="tab-pane" id="tab15">
                  <h5 class="text-center">Seguimiento.</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Si</label>
                        <input class="form-control" type="number" name="conSeguimiento" formControlName="conSeguimiento"  placeholder="Ingrese Valor" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">No</label>
                        <input class="form-control" type="number" name="sinSeguimiento" formControlName="sinSeguimiento" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tab 16 -->
                <div class="tab-pane" id="tab16">
                  <h5 class="text-center">Numero de Guias Desarrolladas.</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1 ">
                      <div class="form-group">
                        <label class="control-label">Si</label>
                        <input class="form-control" type="number" name="desarrolladas" formControlName="desarrolladas" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">No</label>
                        <input class="form-control" type="number" name="noDesarrolladas" formControlName="noDesarrolladas"  placeholder="Ingrese Valor" />
                      </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1 ">
                      <div class="form-group">
                        <label class="text-center">Nombre Supervisor Mancumunitario</label>
                        <input class="form-control" type="text" name="supervisor" formControlName="supervisor"
                          placeholder="Ingrese Nombre Supervisor" />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tab 17 -->
                <div class="tab-pane" id="tab17">
                  <h5 class="text-center">Numero de Guias</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Guia 1 El Embarazo</label>
                        <input class="form-control" formControlName="guia1PEmbarazo" type="number" name="guia1" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Guia 2 El Nacimiento</label>
                        <input class="form-control" formControlName="guia2PNacimiento" type="number" name="guia2" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Guia 3 Primer Mes</label>
                        <input class="form-control" formControlName="guia3PPrimerMes" type="number" name="guia3" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Guia 4 de 1 a 3 Meses</label>
                        <input class="form-control" formControlName="guia4P1A3Meses"  type="number" name="guia4" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">Guia 5 de 4 a 6 Meses</label>
                        <input class="form-control" formControlName="guia5P4A6Meses"  type="number" name="guia5" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Guia 6 de 6 a 8 Meses</label>
                        <input class="form-control" formControlName="guia6P6A8Meses"  type="number" name="guia6" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Guia 7 de 9 a 12 Meses</label>
                        <input class="form-control" formControlName="guia7P9A12Meses"  type="number" name="guia7" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tab 18 -->
                <div class="tab-pane" id="tab18">
                  <h5 class="text-center">Numero de Guias</h5>
                  <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                      <div class="form-group">
                        <label class="control-label">Guia 8 de 12 a 17 Meses</label>
                        <input class="form-control" formControlName="guia8P12A17Meses" type="number" name="guia8" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Guia 9 de 18 a 23 Meses</label>
                        <input class="form-control" formControlName="guia9P18A23Meses" type="number" name="guia9" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Guia 10 de 2 a 3 Años</label>
                        <input class="form-control" formControlName="guia10P2A3Anios"  type="number" name="guia10" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Guia 11 de 3 años</label>
                        <input class="form-control" formControlName="guia11P3Anios"  type="number" name="guia11" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                    <div class="col-md-5">
                      <div class="form-group">
                        <label class="control-label">Guia 12 de 4 años</label>
                        <input class="form-control" formControlName="guia12P4Anios" type="number" name="guia12" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Guia 13 de 5 años </label>
                        <input class="form-control"  formControlName="guia13P5Anios" type="number" name="guia13" placeholder="Ingrese Valor" />
                      </div>
                      <div class="form-group">
                        <label class="control-label">Guia 14 de 4 años</label>
                        <input class="form-control" formControlName="guia14P4Anios" type="number" name="guia14" placeholder="Ingrese Valor" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="footer">
              <button type="button" class="btn btn-default btn-fill btn-wd btn-back pull-left">Atras</button>
              <button type="submit" class="btn btn-info btn-fill btn-wd btn-next pull-right">Siguiente</button>
              <button type="button" class="btn btn-info btn-fill btn-wd btn-finish pull-right"
                (click)="onSubmitTbl1()">Terminado</button>
              <div class="clearfix"></div>
            </div>
          </form>

        </div>
      </div>
    </div>