<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12" style="margin-bottom: 0;">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Filtros de Datos</h4>
                        <p class="category">Seleccione los filtros para visualizar los datos</p>
                    </div>
                    <div class="content">
                        <form>
                            <!-- Filtros -->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Departamento</label>
                                        <select class="form-control" (change)="getMunicipalitiesByDeparment($event)">
                                            <option value="0">-Seleccione un Departamento-</option>
                                            <option *ngFor="let item of departments" [value]="item.id">{{ item.nameD }}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Municipio</label>
                                        <select class="form-control" (change)="getCommunities($event)">
                                            <option value="0">-- Seleccione un Municipio --</option>
                                            <option *ngFor="let item of municipalities" [value]="item.id">{{ item.nameM
                                                }}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Aldea</label>
                                        <select class="form-control" [(ngModel)]="communityId">
                                            <option value="0">-- Seleccione una Comunidad --</option>
                                            <option *ngFor="let item of communities" [value]="item.id">{{ item.nameC }}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Año</label>
                                        <select class="form-control" [(ngModel)]="anio">
                                            <option value="0">Seleccione Año</option>
                                            <option value="2023">2023</option>
                                            <option value="2024">2024</option>
                                            <option value="2025">2025</option>
                                            <option value="2026">2026</option>
                                            <option value="2027">2027</option>
                                            <option value="2028">2028</option>
                                            <option value="2029">2029</option>
                                            <option value="2030">2030</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Trimestre</label>
                                        <select class="form-control" [(ngModel)]="trimestre">
                                            <option value="0">Seleccione Trimestre</option>
                                            <option value="1">Primer trimestre</option>
                                            <option value="2">Segundo trimestre</option>
                                            <option value="3">Tercero trimestre</option>
                                            <option value="4">Cuarto trimestre</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <button (click)="getGrafico1()" type="button" class="btn btn-info btn-fill">Aplicar
                                Filtros</button>
                        </form>
                        <br>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <lbd-chart #pieChart [title]="'Cantidad familias atendidas'" [subtitle]="'Porcentaje'"
                        [chartType]="emailChartType" [chartData]="emailChartData" [legendItems]="emailChartLegendItems"
                        [footerText]="'Primer trimestre 2024'" [withHr]="true">
                    </lbd-chart>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <lbd-chart #pieChartD [title]="'Porcentaje de niñas y niños que reciben tratamiento RUFT'"
                        [subtitle]="'Porcentaje'" [chartType]="desnutricionChartType"
                        [chartData]="desnutricionChartData" [legendItems]="desnutricionemailChartLegendItems"
                        [footerText]="'Primer trimestre 2024'" [withHr]="true">
                    </lbd-chart>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <lbd-chart #pieChartN [title]="'Porcentaje de Niños y niñas de 0-6 años atendidos'"
                        [subtitle]="'Porcentaje'" [chartType]="generoChartType" [chartData]="generoChartData"
                        [legendItems]="generoChartLegendItems" [footerText]="'Primer trimestre 2024'" [withHr]="true">
                    </lbd-chart>
                </div>
            </div>
        </div>


        <div class="row">
            <!-- Nueva tarjeta para mostrar los totales por trimestre (fuera de la tarjeta de filtros) -->
            <div class="col-md-12" style="margin-bottom: -5;">
                <div class="card">
                    <div class="content">
                        <h4 class="title" >Resumen general del año {{ anio }}</h4>
                        <br>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Totales</th>
                                    <th>Primer Trimestre</th>
                                    <th>Segundo Trimestre</th>
                                    <th>Tercer Trimestre</th>
                                    <th>Cuarto Trimestre</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let valor of datosGeneralFamiliasAtendidas">
                                    <td> {{ valor.label }} </td>
                                    <td>{{ valor.primer }}% </td>
                                    <td>{{ valor.segundo }}% </td>
                                    <td>{{ valor.tercero }}%</td>
                                    <td>{{ valor.cuarto }}% </td>
                                    <td>{{ valor.total }}% </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>