       
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Global Sales by Top Locations</title>
    <style>
        .background {
            background-image: url('assets/img/REDSOL.png');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            padding: 20px;
            min-height: 75vh; /* Make sure it covers the full viewport height */
        }
        .card {
            background-color: rgba(255, 255, 255, 0.8);
            padding: 20px;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <div class="main-content">
        <div class="background">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        

                            <div class="content">
                                <div class="row">
                                    <!-- Tu contenido aquí -->
                                </div>
                            </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>